<!DOCTYPE html>
<html>
	{{ template "header.html" . }}
<body>
	{{ template "navigation.html" . }}

	<br>

	<div class="container">
		<div class="item" id="weatherGaugeId" style="width:500px;height:500px;"></div>
	</div>

	<script type="text/javascript">
		var weather_gauge = echarts.init(document.getElementById('weatherGaugeId'));
		var option_weather_gauge = {
			tooltip: {
				formatter: '{a} <br/>{b} : {c}'
			},
			series: [{
				name: 'Temperature',
				type: 'gauge',
				radius: '36%',
            	center: ['31%', '65%'],
				splitNumber: 6,
				min: -20,
				max: 40,
				pointer: {
					length: '80%',
					itemStyle: {
						color: 'rgba(255, 51, 51, 0.8)'
					}
				},
				axisLine: {
                	show: true,
                	lineStyle: {
                    	width: 1,
                    	color: [
                        	[1, 'rgba(0, 0, 0, 0.5)']
                    	]
                	}
            	},
				title: {
                	fontSize: 12,
                	fontFamily: "Arial",
				},
				detail: {
                	fontSize: 16,
                	fontWeight: 800,
                	fontFamily: "Arial",
					formatter: '{value}'
				},
				data: [{value:0.0, name:"°C"}]
			},{
				name: 'Pressure',
				type: 'gauge',
				radius: '100%',
            	center: ['50%', '50%'],
				splitNumber: 8,
				min: 970,
				max: 1050,
				pointer: {
					length: '95%',
					itemStyle: {
						color: 'rgba(0, 0, 0, 0.5)'
					}
				},
				axisLine: {
                	show: true,
                	lineStyle: {
                    	width: 2,
                    	color: [
                        	[1, '#000']
                    	]
                	}
            	},
				title: {
                	fontSize: 18,
                	fontFamily: "Arial",
                	offsetCenter: [0, '-40%']
            	},
				detail: {
                	fontSize: 22,
                	fontWeight: 800,
                	fontFamily: "Arial",
					formatter: function (value) {
						if (pressureTrend == "up") {
							return "↑ " + value;
						} else if (pressureTrend == "down") {
							return "↓ " + value;
						}
						return value;
					},
                	offsetCenter: [0, '-30%']
				},
				data: [{value:0.0, name:"hPa"}]
			},{
				name: 'Humidity',
				type: 'gauge',
				radius: '36%',
            	center: ['69%', '65%'],
				min: 0,
				max: 100,
				pointer: {
					length: '80%',
					itemStyle: {
						color: 'rgba(51, 51, 255, 0.8)'
					}
				},
				axisLine: {
                	show: true,
                	lineStyle: {
                    	width: 1,
                    	color: [
                        	[1, 'rgba(0, 0, 0, 0.5)']
                    	]
                	}
            	},
				title: {
                	fontSize: 12,
                	fontFamily: "Arial",
				},
				detail: {
                	fontSize: 16,
                	fontWeight: 800,
                	fontFamily: "Arial",
					formatter: '{value}'
				},
				data: [{value:0.0, name:"%"}]
			}]
		};
		weather_gauge.setOption(option_weather_gauge);

		var pressureTrend = ""

		function updateValues() {
			$.get("/currentValues", function(data) {
				// Current values
				option_weather_gauge.series[0].data[0].value = data.currentTemperature.toFixed(1)
				option_weather_gauge.series[1].data[0].value = data.currentPressure.toFixed(1)
				option_weather_gauge.series[2].data[0].value = data.currentHumidity.toFixed(0)
				// Pressure trend
				pressureTrend = data.pressureTrend
				// Refresh gauge
				weather_gauge.setOption(option_weather_gauge, true);
			})
		}

		updateValues();
		setInterval(function() {
			if (! document.hidden) {
				updateValues();
			}
		}, 5 * 1000);
		document.addEventListener("visibilitychange", function() {
  			if (document.visibilityState === 'visible') {
    			updateValues();
  			}
		});
	</script>
	{{ template "footer.html" . }}
</body>
</html>
