<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tom's Weather Station</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.1.2/theme/infographic.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		.container {display: flex; justify-content: center; align-items: center;}
		.item {margin: auto;}
	</style>
</head>
<body>
	<a href="?range=week">Week</a>

<div class="container">
    <div class="item" id="temperatureChartId" style="width:900px;height:300px;"></div>
</div>
<script type="text/javascript">
    var echarts_temperature = echarts.init(document.getElementById('temperatureChartId'));
    var option_temperature = {
		"title":{"text":"Temperature"},
		"tooltip":{
			trigger: 'axis',
        	formatter: function (params) {
            	var date = new Date(params[0].value[0]);
				var m = date.getMinutes();
				if (m < 10) {
					m = "0" + m;
				}
            	return date.getHours() + ':' + m + 'h  ' + params[0].value[1].toFixed(1) + '°';
        	},
        	axisPointer: {
            	animation: false
        	}
		},
		"xAxis":[{
			"type":"time",
			"splitNumber":10,
			"min":"{{ .Xstart }}","max":"{{ .Xend }}"}],
		"yAxis":[{type: "value", min:"dataMin", max:"dataMax"}],
		"legend":{"show":false},
		"series":[{
			"name":"Temperature",
			"type":"line",
			"waveAnimation":false,
			"renderLabelForZeroData":false,
			"selectedMode":true,
			"animation":true,
			showSymbol: false,
			data: [],
			markLine:{
				label: {
					formatter: "{b}"
				},
				data:[
					{"name":"Sunrise","xAxis":"{{ .Sunrise }}"},
					{"name":"Sunset","xAxis":"{{ .Sunset }}"}]}
			}]
	};
	echarts_temperature.setOption(option_temperature);
	$.get("/temperatureData?range={{.TimeRange}}", function(data) {
		echarts_temperature.setOption({
			series: [{
				data: data
			}]
		});
	})
</script>


<div class="container">
    <div class="item" id="presssureChartId" style="width:900px;height:300px;"></div>
</div>
<script type="text/javascript">
    var echarts_presssure = echarts.init(document.getElementById('presssureChartId'));
    var option_presssure = {
		"title":{"text":"Pressure"},
		"tooltip":{"show":false},
		"xAxis":[{"type":"time","splitNumber":10,"min":"{{ .Xstart }}","max":"{{ .Xend }}"}],
		"yAxis":[{"min":"dataMin","max":"dataMax"}],
		"legend":{"show":false},
		"series":[{
			"name":"Pressure",
			"type":"line",
			"waveAnimation":false,
			"renderLabelForZeroData":false,
			"selectedMode":false,
			"animation":false,
			showSymbol: false,
			"data":[],
			"markLine":{
				label: {
					formatter: "{b}"
				},
				data:[
					{"name":"Sunrise","xAxis":"{{ .Sunrise }}"},
					{"name":"Sunset","xAxis":"{{ .Sunset }}"}]}
			}]};
	echarts_presssure.setOption(option_presssure);
	$.get("/pressureData?range={{.TimeRange}}", function(data) {
		echarts_presssure.setOption({
			series: [{
				data: data
			}]
		});
	})
</script>

<div class="container">
    <div class="item" id="humidityChartId" style="width:900px;height:300px;"></div>
</div>
<script type="text/javascript">
    var echarts_humidity = echarts.init(document.getElementById('humidityChartId'));
    var option_humidity = {
		"title":{"text":"Humidity"},
		"tooltip":{
			trigger: 'axis',
        	formatter: function (params) {
            	var date = new Date(params[0].value[0]);
				var m = date.getMinutes();
				if (m < 10) {
					m = "0" + m;
				}
            	return date.getHours() + ':' + m + 'h  ' + params[0].value[1].toFixed(1) + '%';
        	},
        	axisPointer: {
            	animation: false
        	}
		},
		"xAxis":[{"type":"time","splitNumber":10,"min":"{{ .Xstart }}","max":"{{ .Xend }}"}],
		"yAxis":[{"min":"dataMin","max":"dataMax"}],
		"legend":{"show":false},
		"series":[{
			"name":"Humidity",
			"type":"line",
			"waveAnimation":false,
			"renderLabelForZeroData":false,
			"selectedMode":false,
			"animation":false,
			showSymbol: false,
			"data":[],
			"markLine":{
				label: {
					formatter: "{b}"
				},
				data:[
					{"name":"Sunrise","xAxis":"{{ .Sunrise }}"},
					{"name":"Sunset","xAxis":"{{ .Sunset }}"}]}
			}]};
	echarts_humidity.setOption(option_humidity);
	$.get("/humidityData?range={{.TimeRange}}", function(data) {
		echarts_humidity.setOption({
			series: [{
				data: data
			}]
		});
	})
</script>



</body>
</html>
